# Ignore compiled code
*.class
*.jar
*.pyc

# Ignore editor and system files
*~
.DS_Store
Thumbs.db

# Ignore dependencies and virtual environments
node_modules/
venv/
.env

# Ignore log files
*.log

# Ignore compiled or built directories
build/
dist/

# Ignore environment-specific files
.env.local

# Ignore user-specific files or directories
.idea/
.vscode/

# Ignore database files
*.sqlite
*.sqlite3
